<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.king.applock"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".base.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LockScreenActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.king.task"/>
        <activity
            android:name=".ui.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/action_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight.FitsStatusBar"/>
        <service
            android:name=".service.WatchDogService2"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
    </application>

</manifest>
